@use "./mixins" as *;

.container {
  max-width: 1176px;
  margin: 0 auto;

  @include vp-1279 {
    max-width: 928px;
  }

  @include vp-1023 {
    max-width: 720px;
  }

  @include vp-767 {
    max-width: 343px;
  }
}