@use "./variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $color-royal-white;
  font-family: $ff-main;
  background-color: $color-bright-black;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  outline: none;
}

textarea {
  resize: none;
}