// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-bright-black: #1E2025;
$color-gray-nickel: #C3C2BD;
$color-royal-white: #FDFDFD;
$color-american-rose: #FF0633;
$color-solid-graphite: #2E3139;


// Typography
$ff-main: "AlumniSans", "Arial", sans-serif;
$ff-head: "KellySlab", "Arial", sans-serif;

// Viewport
$vp-tablet-xl: 1279px;
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;